### What is `argparse`?

`argparse` is a command-line interface (CLI) parser, allowing Python scripts to be invoked with different parameters from the shell. While `./cli.py` illustrates how to use `argparse` from the command line, this notebook outlines how to prototype and/or test a script that uses CLI arguments without the shell. This is achieved by `argparse`'s `Namespace` class. The `args` object below is functionally the same as that in `./cli.py`:

In [1]:
from argparse import Namespace
from cli import main as create_table
print(create_table.__doc__)

Takes Chicago crimes table (args.f), then filters for args.crime_type.

In the shell,
1. Do python argparse.py --help to see the help messages.
3. Do python argparse.py to run this code with the default values of the CLI args.
2. Do python argparse.py -f /path/to/data --crime_type ${crime_type} to run this code with desired CLI args.

In [2]:
args = Namespace()
args.f = "./data/chicago_crimes.csv"
args.crime_type = "ASSAULT"

In [3]:
result = create_table(args)
result.head()

Filtering for ASSAULT...
Done.

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,14116652,JK156434,02/19/2026 11:00:00 PM,018XX N ST LOUIS AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,26,22,08A,1152823.0,1911879.0,2026,02/27/2026 03:41:33 PM,41.914052,-87.713987,POINT (-87.713986759 41.914051786)
1,14117397,JK157381,02/19/2026 11:00:00 PM,120XX S PARNELL AVE,0530,ASSAULT,AGGRAVATED - OTHER DANGEROUS WEAPON,RESIDENCE,False,True,...,21,53,04A,1174807.0,1825049.0,2026,02/27/2026 03:41:33 PM,41.675317,-87.635810,POINT (-87.635810095 41.675317346)
2,14120301,JK160511,02/19/2026 10:25:00 PM,068XX W NORTH AVE,0560,ASSAULT,SIMPLE,CONVENIENCE STORE,False,False,...,29,25,08A,1130805.0,1909898.0,2026,02/27/2026 03:41:33 PM,41.909023,-87.794924,POINT (-87.794924093 41.909023481)
3,14116184,JK155875,02/19/2026 09:30:00 PM,055XX W 55TH ST,0560,ASSAULT,SIMPLE,RESIDENCE,False,False,...,23,56,08A,1140496.0,1867595.0,2026,02/27/2026 03:41:33 PM,41.792766,-87.760360,POINT (-87.760360171 41.792765594)
4,14116457,JK156150,02/19/2026 09:00:00 PM,037XX W 58TH ST,0520,ASSAULT,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,RESIDENCE,False,True,...,23,62,04A,1152531.0,1865890.0,2026,02/27/2026 03:41:33 PM,41.787858,-87.716274,POINT (-87.716273609 41.787858231)